<%- include("partials/header"); -%>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="css/sidebar.css">
    </head>

    <body id="bootstrap-overrides">
        <main role="main">
            <div class="wrapper d-flex align-items-stretch">
                <%- include("partials/sidebar"); -%>
                    <div id="content" class="p-4 p-md-5 pt-5">
                        <div class="container-fluid">
                            <div class="col-3">
                                <canvas id="myChart"></canvas>
                                <script>ctx = document.getElementById('myChart');
                                    var myChart = new Chart(ctx, {
                                    type: 'doughnut',
                                    data: {
                                        labels: [...new Set(err.map(it => it.NAMESPACE))],
                                        datasets: [{
                                            label: '# of Votes',
                                            data: [Object.keys(err).length],
                                            backgroundColor: [
                                                'rgba(255, 99, 132, 0.2)',
                                                'rgba(54, 162, 235, 0.2)',
                                                'rgba(255, 206, 86, 0.2)',
                                                'rgba(75, 192, 192, 0.2)',
                                                'rgba(153, 102, 255, 0.2)',
                                                'rgba(255, 159, 64, 0.2)'
                                            ],
                                            borderColor: [
                                                'rgba(255, 99, 132, 1)',
                                                'rgba(54, 162, 235, 1)',
                                                'rgba(255, 206, 86, 1)',
                                                'rgba(75, 192, 192, 1)',
                                                'rgba(153, 102, 255, 1)',
                                                'rgba(255, 159, 64, 1)'
                                            ],
                                            borderWidth: 1
                                        }],
                                    },
                                }); </script>
                            </div>
                        </div>
                    </div>
            </div>
        </main>
    </body>
</html>